body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #141414;
  color: white;
}
/* progress */

.progress-bar {
  height: 4px;
  background: #333;
  margin-top: 5px;
}

.progress-fill {
  height: 100%;
  background: red;
  width: 30%;
}

/* NAVBAR */
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: linear-gradient(to bottom, rgba(0,0,0,0.8), transparent);
  z-index: 10;
}

.nav-links span {
  margin-right: 20px;
  cursor: pointer;
}

/* HERO */
.hero {
  height: 80vh;
  background: url('../assets/hero.jpg') center/cover no-repeat;
  display: flex;
  align-items: center;
  padding: 50px;
}

.hero-content {
  max-width: 500px;
}

.hero button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* ROWS */
.row {
  margin-left: 20px;
}

.row h2 {
  margin-top: 20px;
}

.row-posters {
  display: flex;
  overflow-x: scroll;
  gap: 10px;
  padding: 10px 0;
}

.poster img {
  width: 150px;
  transition: transform 0.3s;
  cursor: pointer;
}

.poster img:hover {
  transform: scale(1.1);
}

.poster.large img {
  width: 200px;
}

/* PLATFORM PAGE */
.platform-hero {
  height: 60vh;
  background: url('../assets/hero.jpg') center/cover no-repeat;
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 40px;
  left: 40px;
}

.buttons button {
  margin-right: 10px;
  padding: 10px 20px;
}

.platform-content {
  padding: 40px;
}

.chart-placeholder {
  height: 300px;
  border: 2px dashed gray;
  display: flex;
  align-items: center;
  justify-content: center;
}
